<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Не найдено</title>
    <link rel="icon" href="/uploads/icon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container">
            <h1>404 - Страница не найдена</h1>
            <a href="/">
                <h1 style="font-size: 22px;">Вернуться на главную страницу</h1>
            </a>
        </div>
</body>

</html>