<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обратная связь</title>
    <link rel="icon" href="/uploads/icon.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container">
            <h1>Свяжитесь с нами</h1>
            <form id="contact-form">
                <input type="text" name="name" placeholder="Имя" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="message" placeholder="Сообщение" required></textarea>
                <button type="submit" disabled>Отправить</button>
            </form>
            <div id="contact-message" style="display: none;"></div>
        </div>
        <script src="/js/script.js"></script>
</body>

</html>